.nappula {
  text-decoration: none;
  font-size: 17px;
  display: flex;
  gap: 0.5rem;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding:  0.5rem 1rem;
}

